<div id="top">
  <div id="top_inner">
    <div class="top_colmn">
            <div id="logo_wrapper">
             <a href="index.html">Home</a>
            </div>
            
    </div> 
    <div class="top_colmn">
      <div id="socialicons"> <a href="#"><%= image_tag "facebook.png" %></a>
        <a href="#"><%= image_tag "twitter.png" %></a>
        <a href="#"><%= image_tag "in.png" %></a>
      </div>
    </div>
  </div>
</div>
<div id="navigation">

  <div id="navigation_inner">
  <div id="menu">
  	<ul>
    	<li><a href="#">Home</a></li>
        <li><a href="#">What is Go global?</a></li>
        <li><a href="#" >Join Today</a></li>
        <div id="rightli"><%= image_tag "li.png" %></div>
    </ul>
    
    <div id="signinbox">
   	  <form id="form1" name="form1" method="post" action="">
      <div class="signinrow">
      		<h6>Email</h6>
  			<input name="textfield" type="text" class="signin_field_bg" id="textfield" />
      </div>
      <div class="signinrow">
      	<h6>Password</h6>
  			<input name="textfield" type="password" class="signin_field_bg" id="textfield" />
      </div>
      <input type="submit" class="signin_btn" value="" />
      </form>
    </div>
  </div>
  </div>
</div>
<div id="wrapper">
  <div id="container">
    <div id="contentbody">
      <div id="contentbody_left">
      	<h4>Business 2 Business Networking Directory </h4>
        <h5>For Executives and Professionals </h5>
        <div id="leftcol1">
          <div class="leftcol1_rows">
          	<%= image_tag "01.jpg" %>
            <div class="leftcol1_content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Duis ornare, dolor a lacinia cursus, ante odio scelerisque 
              </p>
            </div>
          </div>
          <div class="leftcol1_rows">
          	<img src="images/02.jpg" alt="" title=""  />
            <div class="leftcol1_content_mid">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Duis ornare, dolor a lacinia cursus, ante odio scelerisque 
              </p>
            </div>
          </div>
          <div class="leftcol1_rows">
          	<%= image_tag "03.jpg" %>
            <div class="leftcol1_content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Duis ornare, dolor a lacinia cursus, ante odio scelerisque 
              </p>
            </div>
          </div>
        </div>
        <div id="searchdiv">
        	<form id="form2" name="form2" method="post" action="">
        	<h6>Search for someone by name: </h6>
            <div id="searchdiv_outter">
              <div id="searchdiv_col">
                <div class="searchcol2">
                	<p>First Name: </p>
                	  <input name="textfield2" type="text" class="searchcol2_textfield" id="textfield2" />
                </div>
                
               <div class="searchcol2">
                	<p>Last Name: </p>
                	  <input name="textfield2" type="text" class="searchcol2_textfield" id="textfield2" />
                </div>
                <input type="submit" class="searchdiv_col_btn" value="" />
              </div>
              <p class="paginationp">
              	<a href="#">a</a>
                <a href="#">b</a>
                <a href="#">c</a>
                <a href="#">d</a>
                <a href="#">e</a>
                <a href="#">f</a>
                <a href="#">g</a>
                <a href="#">h</a>
                <a href="#">i</a>
                <a href="#">j</a>
                <a href="#">k</a>
                <a href="#">l</a>
                <a href="#">m</a>
                <a href="#">n</a>
                <a href="#">o</a>
                <a href="#">p</a>
                <a href="#">q</a>
                <a href="#">r</a>
                <a href="#">s</a>
                <a href="#">t</a>
                <a href="#">u</a>
                <a href="#">v</a>
                <a href="#">w</a>
                <a href="#">x</a>
                <a href="#">y</a>
                <a href="#">z</a>
                <a href="#">More</a>
               </p>
            </div>
            </form>
        </div>
        <p class="contentbody_leftp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ornare, dolor 
          a lacinia cursus, ante odio scelerisque  odio scelerisque </p>
      </div>
      <div id="contentbody_right">
        <div id="signupbox">
        <form id="form3" name="form3" method="post" action="">
          <div id="signupbox_content">
            <div class="signupbox_content_row">
              <div class="signupbox_content_row_left">First Name :</div>
              <div class="signupbox_content_row_right">
                  <input name="textfield3" type="text" class="signup_field" id="textfield3" />
              </div>
            </div>
            <div class="signupbox_content_row">
              <div class="signupbox_content_row_left">Last Name :</div>
              <div class="signupbox_content_row_right">
                  <input name="textfield3" type="text" class="signup_field" id="textfield3" />
              </div>
            </div>
            <div class="signupbox_content_row">
              <div class="signupbox_content_row_left">Email :</div>
              <div class="signupbox_content_row_right">
                  <input name="textfield3" type="text" class="signup_field" id="textfield3" />
              </div>
            </div>
            <div class="signupbox_content_row" style="margin-bottom:5px">
              <div class="signupbox_content_row_left">Password :</div>
              <div class="signupbox_content_row_right">
                  <input name="textfield3" type="password" class="signup_field" id="textfield3" />
              </div>
            </div>
            <div class="signupbox_content_row" style="margin:0">
              <div class="signupbox_content_row_left">&nbsp;</div>
              <div class="signupbox_content_row_right2">
                 <input type="submit" class="signupbtn" value="" />
              </div>
            </div>
            <div class="signupbox_content_row">
            	<div id="already">
            	  <h6>Already on Go global? <span><a href="#">Sign in.</a></span> </h6>
            	</div>
            </div>
          </div>
           </form>
        </div>
        <div id="testmonial">
        	<h4>Lorem ipsum dolor sit amet </h4>
            <div id="testmonial_cont">
            	<%= image_tag "img01.jpg" %>
              <div id="testmonial_text">
                <p>Lorem ipsum dolor sit 
                  amet, consectetur 
                  adipiscing elit. Duis 
                  ornare, dolor a lacinia 
                  cursus, ante odio
                </p>
                <h6><a href="#">Read More >></a></h6>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div id="contentbody_bottom">
    	<h6>* By clicking Join Now or using Go global, you are indicating that you have read, understood, and agree to Go global's User Agreement and Privacy Policy. </h6>
    </div>
    <div id="bottom"></div>
  </div>
</div>
<!--footer_wrapper-->
     <div id="footer">
          <div id="footer_inner">
            <ul id="footer_menu">
              <li><a href="#">Home</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Contacts</a></li>
              <li><a href="#">Jobs</a></li>
              
              <li><a href="#">Companies</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Help Center</a></li>
               <li><a href="#">Contact Us</a></li>
             </ul>
             
             <div id="copyright"><a href="#" target="_new">Go global &copy;2013</a></div>
          </div>
      </div>
       <!--footer_wrapper ends-->

